.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.27);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c4043;
}

.courseDetails {
    width: 60%;
    height: fit-content;
    background-color: #f7f7f8;
    border-radius: 14px;
}

.imageAndDetailsContainer {
    display: flex;
    margin: 1rem 1rem;
}

.courseImg {
    border-radius: 6px;
    display: block;
    object-fit: cover;
    width: 50%;
}

.detailsContainer {
    margin-left: 2rem;
    width: 100%;
}

.nameText {
    font-weight: bold;
    font-size: 38px;
}

.aboutText{
    margin-top: 10px;
    font-size: 14px;
}

.contentsAndRequirementsContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
}

.contentsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.contentsTitleText {
    font-weight: 600;
}

.requirementsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.requirementsTitleText {
    font-weight: 600;
}

.closeAndEnrollButtonContainer {
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.closeButton {
    padding: 1rem 0;
    border-radius: 40px;
    border: 2px #ffa1a1 solid;
    background-color: #ffdede;
    flex: 1;
    color: #d25555;
    font-size: medium;
    font-weight: 500;
    font-weight: bold;
}

.enrollButton {
    padding: 1rem 0;
    flex: 2;
    border-radius: 40px;
    border: 2px transparent solid;
    background-color: #214f9c;
    color: white;
    font-size: medium;
    font-weight: bold;
}
