.quizPage {
    color: #3C4043;
    display: flex;
    width: 99vw;
    position: relative;
}

.tabSwitchBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.tabSwitchContent {
    width: 28rem;
    /*height: 16rem;*/
    height: max-content;
    background-color: #ffffff;
    border-radius: 12px;
    border: 2px solid #FF6B6B;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    text-align: center;
}

.tabSwitchTitle {
    font-size: 1.5rem;
    color: #FF6B6B;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.tabSwitchMessage {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 0.5rem;
}

.tabSwitchButton {
    margin-top: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #FF6B6B;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tabSwitchButton:hover {
    background-color: #ff5252;
}

.waterMark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; /* Ensure it's non-interactive */
    background-repeat: repeat;
    background-size: 200px 200px; /* Adjust size of repeated text */
    background-position: center;
}

.questionSelectorContainer {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    align-items: center;
    width: 9rem;
    border-right: #d0d0d0 2px solid;
    height: 100vh; /* Full viewport height */
    scroll-behavior: smooth;
}

.questionsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    overflow: auto;
    scrollbar-width: thin;
    /*scrollbar-width: none;*/
}

.questionSelectorTitle {
    margin: 1rem 0;
    font-weight: bold;
}

.questionSelector {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1000px;
    border: #d0d0d0 2px solid;
    font-weight: bold;
}


.attended {
    background-color: #fff07a;
    border-color: #ffe200;
}

.completed {
    background-color: #a6ffa6;
    border-color: #00ff00;
}

.questionSelector_active {
    border: #214f9c 2px solid;
}

.pageContent {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.loadQuestionContainer {

}

.loadQuestionButton {
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid #214f9c;
    border-radius: 20px;
    padding: 8px 1rem;
    background-color: #214f9c;
    color: white;
    font-weight: 500;
    align-self: flex-end;
}

.option {
    cursor: pointer;
    border: 1px solid #3C4043;
    padding: 13px 20px;
    margin: 8px 8px;
    border-radius: 6px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.option_active {
    border: 1px solid #214f9c;
}

.choose {
    font-weight: 500;
}

.optionText {
    font-weight: 500;
}

.timer {
    color: crimson;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 2rem;
}

.time {
    font-weight: bold;
}

.questionNoContainer {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.currentQuestion {
    font-size: larger;
    font-weight: bold;
}

.totalQuestions {
    font-size: small;
    color: #747678;
}

.nextButton {
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid #214f9c;
    border-radius: 20px;
    padding: 8px 1rem;
    background-color: #214f9c;
    color: white;
    font-weight: 500;
    align-self: flex-end;
}