.testResultPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #3c4043;
}

    /* Passing background */
.passBackground {
    background: linear-gradient(135deg, #e3ffe7, #d9e7ff);
}

/* Failing background */
.failBackground {
    background: linear-gradient(135deg, #fff3f3, #d9e7ff);
}

.passIcon {
    color: #4caf50;
}

.failIcon {
    color: #e74c3c;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

.textDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.courseTitleText {
    font-size: 2rem;
    font-weight: bold;
    color: #2c3e50;
}

.congratsText {
    font-size: 1.5rem;
    font-weight: 600;
    color: #1e88e5;
    margin: 0.5rem 0;
}

.successText {
    font-size: 1.2rem;
    color: #555;
}

.content {
    background: #f1f8ff;
    padding: 1.5rem 2rem;
    border-radius: 15px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
}

.scoreText {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

.passScore {
    color: #4caf50;
}

.failScore {
    color: #e74c3c;
}

.encouragementText {
    font-size: 1rem;
    color: #888;
    text-align: center;
    max-width: 500px;
}

.attemptsContainer {
    width: 100%;
    /*max-width: 800px;*/
    /*margin: 20px auto;*/
    /*padding: 20px;*/
    /*background-color: #f9f9f9;*/
    /*border-radius: 12px;*/
    /*box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);*/
}

.attemptsText {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    color: #333;
}

.tableHead {
    background-color: #214f9c;
    color: #ffffff;
    font-weight: bold;
    padding: 12px;
}

.tableRow:nth-child(even) {
    background-color: rgba(174, 203, 255, 0.27);
}

.tableData {
    font-weight: bold;

    padding: 12px;
    text-align: center;
    color: #555;
}

.score {
    font-weight: bold;
    color: #333;
}