.adminPage {
    margin: 1rem 2rem;
}

.statsText {
    color: #3c4043;
    font-weight: bold;
}

.statsContainer {
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    background-color: white;
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
}

.textStatsContainer {
}

.chartsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.chartContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.chartTitle{
    font-weight: 600;
}

.textStatTitle {
    font-weight: 600;
    text-wrap: nowrap;
}

.textStatValue {
    font-weight: bold;
    color: #214f9c;

}

.statsContainer::-webkit-scrollbar {
    display: none;
}

.CoursesTextAndAddCourseButtonContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.coursesText {
    color: #3c4043;
    font-weight: bold;
}

.addCourseButton {
    height: fit-content;
    border: #214f9c 2px solid;
    border-radius: 8px;
    padding: 10px 15px;
    color: #214f9c;
    font-size: large;
    font-weight: bold;
    background-color: #f7f7f8;
}

.editCourseCardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}